<!DOCTYPE html>
<html>
<head>
    <title>Enter Password</title>
</head>
<body style="background-color: #F5F7DC;">

    <div style="text-align: left; padding: 10px;">
        <a href="{{ url_for('home') }}" style="font-size: 18px;">Home</a>
    </div>
    
    <h2>Enter Password to Add Match</h2>
    <form method="POST" action="/add_match">
        <label>Password:</label>
        <input type="password" name="password" required>
        <br><br>
        <input type="submit" value="Enter">
    </form>      
</body>
</html>

